* {
   box-sizing: border-box;
}

body {
   background: #f8f3ed;
}

.svg-class:hover {
   filter: brightness(0.7);
}

.nav-buttons {
   list-style: none;
   display: flex;
   gap: 24px;
}

.home-nav-menu {
   display: flex;
   justify-content: space-between;
}
.home-header {
   padding: 32px 56px 48px;
   aspect-ratio: 2;
   background-image: url(../assets/content/Banner_960\ 1.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 0 0 32px 32px;

   display: flex;
   flex-direction: column;
}

.burger-btn {
   margin-right: 216px;
}

.title-box {
   margin-top: auto;
   display: flex;
   justify-content: space-between;
}

h1 {
   font-family: "TT Ramillas Trl", sans-serif;
   font-weight: 400;
   font-size: 72px;

   line-height: 72px;
   line-height: 1;
   letter-spacing: 0.02em;
   color: #fff;
}

.subtitle-home {
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 24px;

   line-height: 30px;
   line-height: 1.24;
   letter-spacing: 0.01em;
   color: #fff;
}

.line {
   display: flex;
   height: 16px;
   width: 100%;
   margin: 24px 0 16px;
   align-items: center;
}
.line_line {
   width: 100%;
   height: 1px;
   background: white;
   opacity: 0.5;
}

.video-preview {
   position: relative;
   width: 296px;
   border-radius: 16px;
   background-image: url(../assets/content/Rectangle\ 1537.png);
   background-size: cover;
}
.play-btn-home-preview {
   position: absolute;
   top: 50%;
   left: 32px;
   transform: translateY(-50%);
}

.catalog-of-goods-home {
   padding: 0 24px;
   margin-top: 96px;
}

.h2-section {
   font-family: "TT Ramillas Trl", sans-serif;
   font-weight: 400;
   font-size: 72px;
   color: #1d1d1d;

   margin-left: 32px;
   margin-bottom: 48px;
}
.bg-block-correct-position {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 32px;
   height: 504px;
   padding: 32px;
   display: flex;
   flex-direction: column;
   justify-content: end;
}

.catalog-home-block-1 {
   background-image: url(../assets/content/Rectangle\ 1854.png);
   width: calc(100% / 3 * 2 - 12px);
}
.catalog-home-block-2 {
   background-image: url(../assets/content/Rectangle\ 1525.png);
   width: calc(100% / 3 - 12px);
}
.catalog-home-block-3 {
   background-image: url(../assets/content/Rectangle\ 1860.png);
   width: calc(100% / 3 - 16px);
}
.catalog-home-block-4 {
   background-image: url(../assets/content/Rectangle\ 1855.png);
   width: calc(100% / 3 - 16px);
}
.catalog-home-block-5 {
   background-image: url(../assets/content/Rectangle\ 1531.png);
   height: calc(50% - 12px);
   width: 100%;
}
.catalog-home-block-6 {
   background-image: url(../assets/content/Rectangle\ 1562.png);
   height: calc(50% - 12px);
   width: calc(100% - 264px);
}

.flex-in-catalog-block {
   display: flex;
   gap: 22px;
}

.name-of-thing-home {
   font-family: "TT Ramillas Trl", sans-serif;
   font-weight: 400;
   font-size: 40px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #fff;

   white-space: nowrap;
}
.type-of-thing-home {
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.24;
   color: #fff;

   margin-bottom: 16px;
}
.line-into-block {
   width: 100%;
   display: flex;
   align-items: center;
}

.catalog-home-blocks {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 24px;
   position: relative;
}

.last-block-in-catalog-goods-home {
   width: calc(100% / 3 - 16px);
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}
.red-circle {
   background: rgb(255, 81, 81);
   aspect-ratio: 1;
   height: calc(50% - 12px);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;

   font-family: "TT Ramillas Trl", sans-serif;
   font-weight: 400;
   font-size: 40px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #fff;
}
