@media (max-width: 1700px) {
   .catalog-home-block-1 {
      width: 100%;
   }
   .catalog-home-block-2 {
      width: calc(50% - 12px);
   }
   .catalog-home-block-3 {
      width: calc(50% - 12px);
   }
   .catalog-home-block-4 {
      width: calc(50% - 12px);
   }
   .last-block-in-catalog-goods-home {
      width: calc(50% - 12px);
   }
}
@media (max-width: 1400px) {
   h1,
   .h2-section {
      font-size: 45px;
   }
   .reviews-and-leave-feedback-flex {
      flex-direction: column-reverse;
   }
   .reviews-overflow-container {
      width: 100%;
   }
   .right-zone-review {
      width: calc(100% / 3 - 12px);
   }
   .control-panel_pag-btns {
      display: none;
   }
   .reviews-overflow-container {
      overflow-x: scroll;
   }
   .review-card {
      width: 434px;
   }
   .right-zone-review {
      width: 100%;
      max-width: 434px;
   }
   .footer_left-side {
      width: 27%;
   }
   .footer_rignt-side {
      width: 77%;
   }
   .nav-list {
      width: unset;
   }
}

@media (max-width: 1300px) {
   .social-webs-flex_img {
      width: calc(100% / 3 - 20px);
   }
   .social-webs-flex_last {
      width: calc(100% / 3 * 2 - 20px);
   }
}
@media (max-width: 1200px) {
   .reviews-container {
      width: max-content;
   }

   .base-style_block {
      height: 20%;
      margin: 0;
   }
   .base-style_block {
      width: calc(50% - 10px);
   }
   .h2-no-margin {
      order: 1;
   }
   .base-style_block-1 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;

      order: 2;
   }
   .base-style_block-2 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;

      order: 3;
   }
   .base-style_block-3 {
      height: calc(25% - 15px);
      order: 7;
   }
   .base-style_block-4 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 7;

      order: 4;
   }
   .base-style_block-5 {
      height: calc(25% - 15px);
      order: 8;
   }
   .base-style_block-6 {
      order: 5;
   }
   .base-style_block-7 {
      height: calc(25% - 15px);
      order: 9;
   }
   .base-style_block-8 {
      order: 6;
   }
   .base-style_block-9 {
      height: calc(25% - 15px);
      order: 10;
   }
   .huge-block {
      width: calc(67% - 10px);
   }
   .small-blocks-container {
      width: calc(33% - 10px);
   }
   .collection-things-box {
      flex-wrap: wrap;
      gap: 20px;
   }
   .hidden-nav-menu {
      flex-wrap: wrap;
   }
   .nav-list {
      width: 50%;
      margin-bottom: 50px;
   }
}
@media (max-width: 1000px) {
   .video-preview {
      display: none;
   }
   .home-header {
      height: 844px;
      border-radius: 0;
   }
   .nav-buttons li:nth-child(n + 2) {
      display: none;
   }
   .nav-buttons {
      margin-left: auto;
      margin-right: 14px;
   }
   .burger-btn {
      order: 1;
      margin: 0;
   }

   .catalog-home-block-1 {
      width: 100%;
   }
   .catalog-home-block-2 {
      width: 100%;
   }
   .catalog-home-block-3 {
      width: 100%;
   }
   .catalog-home-block-4 {
      width: 100%;
   }
   .catalog-home-block-5 {
      height: 504px;
   }
   .catalog-home-block-6 {
      height: 504px;
      width: 100%;
   }
   .red-circle {
      width: 100%;
      height: auto;
   }
   .last-block-in-catalog-goods-home {
      width: 100%;
   }

   .social-webs-flex_img {
      width: calc(100% / 2 - 12px);
   }
   .social-webs-flex_last {
      width: calc(100%);
      aspect-ratio: 2;
   }
   .footer_left-side {
      width: 0;
      display: none;
   }
   .footer_rignt-side {
      width: 100%;
   }
   footer {
      border-radius: 0;
   }
   .base-style-section {
      padding: 50px 15px 50px;
   }
   .collection-section {
      padding: 0px 15px 50px;
      margin: 0;
   }
   .accordeon-section {
      margin: 0px 15px 50px;
   }
   .base-style_block-10 {
      height: 710px;
      width: calc(100% + 30px);
      transform: translateX(-15px);
      border-radius: 0;
      margin-top: 20px;
   }
   .section-default {
      padding: 0 15px;
   }
   .catalog-header {
      padding: 30px 15px 48px;
   }
   .product-cards-overflow-container-catalog {
      width: calc(100% + 15px);
      overflow-x: auto;
   }
   .small-div {
      width: calc((100vw - 30px) / 3 - 16px);
   }
   .catalog-viewed {
      margin: 0 15px;
   }
   .nav-list {
      width: 100%;
      margin: 0;
      height: 20px;
      overflow: hidden;
      transition: 0.6s ease;
   }
   .nav-list-title::after {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      background-image: url(../assets/icon/drop-arrow-brown.svg);
      background-position: bottom;
      background-size: cover;
      transition: 0.3s ease;
   }
   .nav-list.active > .nav-list-title::after {
      transform: rotate(180deg);
   }
   .nav-list.active {
      height: fit-content;
   }
   .hidden-nav-menu {
      flex-direction: column;
      padding-bottom: 120px;
   }
   .nav-list-title {
      font-size: 20px;
      margin: 0;
      display: flex;
      justify-content: space-between;
   }
   .hidden-nav-menu {
      gap: 24px;
   }
}
@media (max-width: 800px) {
   .parent {
      display: flex;
      flex-direction: column;
   }
   .small-div {
      width: 100%;
   }
   .exclusive-point::after {
      width: 100px;
      height: 100px;
   }
   .filter-box {
      display: none;
   }
   .filter-buttons {
      display: flex;
   }
}

@media (max-width: 600px) {
   h1 {
      font-size: 30px;
   }
   .home-header {
      padding: 32px 15px;
   }
   .subtitle-home {
      font-size: 16px;
   }
   .h2-section {
      font-size: 30px;
   }
   .footer_rignt-side > div,
   .footer_rignt-side > ul {
      width: 100%;
   }
   .footer-title {
      margin-bottom: 25px;
   }
   footer {
      height: 1274px;
   }
   .footer_rignt-side {
      padding: 30px 15px;
   }
   .footer_rignt-side .line-into-block {
      height: 16px;
   }
   .footer_rignt-side .footer_discription {
      margin-top: 50px;
   }
   .footer-less-600 {
      display: block;
   }
   .name-of-thing-home {
      font-size: 24px;
   }
   .name-of-thing-home {
      display: flex;
      align-items: center;
   }
   .section-default-home {
      padding: 0 15px;
   }
   .catalog-home-block-1 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-2 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-3 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-4 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-5 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-6 {
      aspect-ratio: 1;
      height: auto;
   }

   .base-style_block {
      width: 100%;
      height: 335px;
   }

   .base-style_block-1 {
      width: 100%;
   }
   .base-style_block-2 {
      width: 100%;
   }

   .base-style_block-4 {
      width: 100%;
   }

   .base-style_block-10 {
      height: 710px;
      width: calc(100% + 30px);
      transform: translateX(-15px);
      border-radius: 0;
      margin-top: 20px;
   }
   .base-style-section_left {
      height: auto;
   }
   .huge-block {
      width: 100%;
   }
   .small-blocks-container {
      width: 100%;
      flex-direction: row;
   }
   .small-blocks-container_small-block {
      width: calc(50% - 10px);
      height: auto;
   }
   .huge_title {
      font-size: 20px;
   }
   .huge_discription {
      font-size: 14px;
   }
   .huge_price {
      font-size: 20px;
   }
   .huge_price span {
      font-size: 16px;
   }
   .line-into-block-footer_img {
      display: none;
   }
   .home-collection {
      padding: 32px 15px 24px;
   }
   .catalog-header {
      padding: 30px 15px 24px;
   }
   .exclusive-point::after {
      display: none;
   }
   .hidden-nav-menu {
      margin-top: 80px;
   }
   .burger-nav-menu {
      padding: 32px 16px 0;
   }
}

@media (max-width: 400px) {
   .less-400 {
      display: none;
   }
}
