@media (max-width: 1700px) {
   .catalog-home-block-1 {
      width: 100%;
   }
   .catalog-home-block-2 {
      width: calc(50% - 12px);
   }
   .catalog-home-block-3 {
      width: calc(50% - 12px);
   }
   .catalog-home-block-4 {
      width: calc(50% - 12px);
   }
   .last-block-in-catalog-goods-home {
      width: calc(50% - 12px);
   }
}
@media (max-width: 1600px) {
   .basket {
      width: 100%;
   }
   .basket-zone {
      margin-bottom: 48px;
   }
   .basket-summ {
      width: 100%;
   }
   .cabinet {
      width: 100%;
   }
   .cabinet-bonus-itog {
      max-width: 600px;
   }
}
@media (max-width: 1400px) {
   h1,
   .h2-section {
      font-size: 45px;
   }
   .reviews-and-leave-feedback-flex {
      flex-direction: column-reverse;
   }
   .reviews-overflow-container {
      width: 100%;
   }
   .right-zone-review {
      width: calc(100% / 3 - 12px);
   }
   /* .control-panel_pag-btns {
      display: none;
   } */
   .reviews-overflow-container {
      overflow-x: scroll;
   }
   .review-card {
      width: 434px;
   }
   .right-zone-review {
      width: 100%;
      max-width: 434px;
   }
   .footer_left-side {
      width: 27%;
   }
   .footer_rignt-side {
      width: 77%;
   }
   .nav-list {
      width: unset;
   }
}

@media (max-width: 1300px) {
   .social-webs-flex_img {
      width: calc(100% / 3 - 20px);
   }
   .social-webs-flex_last {
      width: calc(100% / 3 * 2 - 20px);
   }
}
@media (max-width: 1200px) {
   .reviews-container {
      width: max-content;
   }

   .base-style_block {
      height: 20%;
      margin: 0;
   }
   .base-style_block {
      width: calc(50% - 10px);
   }
   .h2-no-margin {
      order: 1;
   }
   .base-style_block-1 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;

      order: 2;
   }
   .base-style_block-2 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;

      order: 3;
   }
   .base-style_block-3 {
      height: calc(25% - 15px);
      order: 7;
   }
   .base-style_block-4 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 7;

      order: 4;
   }
   .base-style_block-5 {
      height: calc(25% - 15px);
      order: 8;
   }
   .base-style_block-6 {
      order: 5;
   }
   .base-style_block-7 {
      height: calc(25% - 15px);
      order: 9;
   }
   .base-style_block-8 {
      order: 6;
   }
   .base-style_block-9 {
      height: calc(25% - 15px);
      order: 10;
   }
   .huge-block {
      width: calc(67% - 10px);
   }
   .small-blocks-container {
      width: calc(33% - 10px);
   }
   .collection-things-box {
      flex-wrap: wrap;
      gap: 20px;
   }
   .hidden-nav-menu {
      flex-wrap: wrap;
   }
   .nav-list {
      width: 50%;
      margin-bottom: 50px;
   }
   .basket_product {
      flex-wrap: wrap;
   }
   .interior_product-box__img {
      max-width: 95px;
   }
   .basket-product__mid {
      width: 70%;
      gap: 15px;
   }
   .basket-product__mid.discont {
      width: calc(100% - 108px);
      flex-grow: 1;
      flex-wrap: wrap;
   }
   .interior_product-box__img {
      margin-right: 13px;
      border: 1px solid #bebebe;
   }
   .basket-product__mid {
      width: calc(100% - 108px);
      flex-grow: 1;
      flex-wrap: wrap;
   }
   .basket_product__text {
      width: 100%;
   }
   .basket-product__end {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 17px;
   }
   .basket-product-price-box {
      margin: 0;
   }
   .basket-checkbox {
      display: none;
   }
   .basket_product.in-cart {
      background: unset;
   }
   .basket-tabs_tab,
   .basket_product__text-subtitle,
   .product-box__price___price-old,
   .block_row__price span {
      font-size: 14px;
   }
   .basket_title,
   .product-box__price___price {
      font-size: 20px;
   }
   .summ-title,
   .block_row__price,
   .summ-checkout-btn {
      font-size: 16px;
   }
   .summ-checkout-btn {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .basket_product__text-title {
      font-size: 16px;
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }
   .product_discont-value,
   .product_like-icon {
      width: 35px;
      height: 35px;
      font-size: 11px;
   }
   .basket-btn_plus,
   .basket-btn_minus {
      width: 40px;
      height: 40px;
      background: #f8f3ed;
   }
   .basket-btn_minus::after,
   .basket-btn_minus::before {
      width: 16px;
      background-color: #000;
   }
   .basket-btn_plus::after {
      width: 16px;
   }
   .basket-btn_minus:hover {
      background-color: #ff5151;
   }
   .basket-btn_minus:hover::before,
   .basket-btn_minus:hover::after {
      background: white;
   }
   .basket-btn_plus:hover {
      background-color: #ff5151;
   }
   .basket-btn_plus:hover::after {
      background: white;
   }
   .basket-product-box.hover .basket_product__text {
      width: 100%;
   }
   .last-price {
      font-size: 20px;
   }
   .summ-block {
      margin-top: 30px;
      gap: 15px;
   }
   .promo-imput {
      border-radius: 18px;
   }
   .buttons-block {
      display: flex;
   }
   .form-booking-title {
      font-size: 22px;
   }
   .booking-form {
      margin-top: 20px;
      gap: 10px;
   }
}
@media (max-width: 1000px) {
   .video-preview {
      display: none;
   }
   .home-header {
      height: 844px;
      border-radius: 0;
   }
   .nav-buttons li:nth-child(n + 2) {
      display: none;
   }
   .nav-buttons {
      margin-left: auto;
      margin-right: 14px;
   }
   .burger-btn {
      order: 1;
      margin: 0;
   }

   .catalog-home-block-1 {
      width: 100%;
   }
   .catalog-home-block-2 {
      width: 100%;
   }
   .catalog-home-block-3 {
      width: 100%;
   }
   .catalog-home-block-4 {
      width: 100%;
   }
   .catalog-home-block-5 {
      height: 504px;
   }
   .catalog-home-block-6 {
      height: 504px;
      width: 100%;
   }
   .red-circle {
      width: 100%;
      height: auto;
   }
   .last-block-in-catalog-goods-home {
      width: 100%;
   }

   .social-webs-flex_img {
      width: calc(100% / 2 - 12px);
   }
   .social-webs-flex_last {
      width: calc(100%);
      aspect-ratio: 2;
   }
   .footer_left-side {
      width: 0;
      display: none;
   }
   .footer_rignt-side {
      width: 100%;
   }
   footer {
      border-radius: 0;
   }
   .base-style-section {
      padding: 50px 15px 50px;
   }
   .collection-section {
      padding: 0px 15px 50px;
      margin: 0;
   }
   .accordeon-section {
      margin: 0px 15px 50px;
   }
   .base-style_block-10 {
      height: 710px;
      width: calc(100% + 30px);
      transform: translateX(-15px);
      border-radius: 0;
      margin-top: 20px;
   }
   .section-default {
      padding: 0 15px;
   }
   .catalog-header {
      padding: 30px 15px 48px;
   }
   .product-cards-overflow-container-catalog {
      width: calc(100% + 15px);
      overflow-x: auto;
   }
   .small-div {
      width: calc((100vw - 30px) / 3 - 16px);
   }
   .catalog-viewed {
      margin: 0 15px;
   }
   .nav-list {
      width: 100%;
      margin: 0;
      height: 20px;
      overflow: hidden;
      transition: 0.6s ease;
   }
   .nav-list-title::after {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      background-image: url(../assets/icon/drop-arrow-brown.svg);
      background-position: bottom;
      background-size: cover;
      transition: 0.3s ease;
   }
   .nav-list.active > .nav-list-title::after {
      transform: rotate(180deg);
   }
   .nav-list.active {
      height: fit-content;
   }
   .hidden-nav-menu {
      flex-direction: column;
      padding-bottom: 120px;
   }
   .nav-list-title {
      font-size: 20px;
      margin: 0;
      display: flex;
      justify-content: space-between;
   }
   .hidden-nav-menu {
      gap: 24px;
   }
   .orders-tabs-overflow {
      overflow-x: scroll;
      width: 100%;
   }
   .orders-tabs-overflow::-webkit-scrollbar {
      display: none;
   }
   .orders-tabs {
      margin: 20px 0;
      border-radius: 10px;
      width: max-content;
   }
   .orders-tab {
      flex-shrink: 0;
      border-radius: 10px;
   }
}
@media (max-width: 900px) {
   .order-list {
      display: none;
   }
   .order-item {
      flex-direction: column;
      align-items: start;
      position: relative;
      gap: 10px;
   }
   .order-item > li {
      width: 100%;
      max-width: unset;
      text-align: right;
      display: flex;
      font-size: 14px;
   }
   .order-item .order-list-item-3 {
      font-size: 14px;
   }

   .order-list-item-1::before {
      content: "Заказы";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-2::before {
      content: "Кол-во";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-3::before {
      content: "Стоимость";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-4::before {
      content: "Валюта";
      margin-right: auto;
      display: block;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-5::before {
      content: "Статус";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-6::before {
      content: "События";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-7::before {
      content: "Дата операции";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .orders-data {
      gap: 40px;
   }
   .orders-data > ul:not(:last-child)::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #b1b1b1;
      left: 0;
      bottom: -20px;
   }
}
@media (max-width: 800px) {
   .parent {
      display: flex;
      flex-direction: column;
   }
   .small-div {
      width: 100%;
   }
   .exclusive-point::after {
      width: 100px;
      height: 100px;
   }
   .filter-box {
      display: none;
   }
   .filter-buttons {
      display: flex;
   }
   .b-f-i-1,
   .b-f-i-2,
   .b-f-i-3,
   .b-f-i-4,
   .b-f-i-5,
   .b-f-i-6 {
      width: 100%;
   }
   .cabinet-btns-change {
      font-size: 16px;
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 10px;
   }
   .cabinet-btns-change > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 14px;
   }
   .cabinet-adress-box {
      flex-wrap: wrap;
      margin: 50px 0 20px;
   }
   .cabinet-bonus-itog {
      max-width: unset;
      width: 100%;
   }
}

@media (max-width: 600px) {
   h1 {
      font-size: 30px;
   }
   .home-header,
   .product-header {
      padding: 32px 15px;
   }
   .subtitle-home,
   .cabinet-tabs {
      font-size: 16px;
   }
   .h2-section {
      font-size: 30px;
   }
   .footer_rignt-side > div,
   .footer_rignt-side > ul {
      width: 100%;
   }
   .footer-title {
      margin-bottom: 25px;
   }
   footer {
      height: 1274px;
   }
   .footer_rignt-side {
      padding: 30px 15px;
   }
   .footer_rignt-side .line-into-block {
      height: 16px;
   }
   .footer_rignt-side .footer_discription {
      margin-top: 50px;
   }
   .footer-less-600 {
      display: block;
   }
   .name-of-thing-home {
      font-size: 24px;
   }
   .name-of-thing-home {
      display: flex;
      align-items: center;
   }
   .section-default-home {
      padding: 0 15px;
   }
   .catalog-home-block-1 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-2 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-3 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-4 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-5 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-6 {
      aspect-ratio: 1;
      height: auto;
   }

   .base-style_block {
      width: 100%;
      height: 335px;
   }

   .base-style_block-1 {
      width: 100%;
   }
   .base-style_block-2 {
      width: 100%;
   }

   .base-style_block-4 {
      width: 100%;
   }

   .base-style_block-10 {
      height: 710px;
      width: calc(100% + 30px);
      transform: translateX(-15px);
      border-radius: 0;
      margin-top: 20px;
   }
   .base-style-section_left {
      height: auto;
   }
   .huge-block {
      width: 100%;
   }
   .small-blocks-container {
      width: 100%;
      flex-direction: row;
   }
   .small-blocks-container_small-block {
      width: calc(50% - 10px);
      height: auto;
   }
   .huge_title {
      font-size: 20px;
   }
   .huge_discription {
      font-size: 14px;
   }
   .huge_price {
      font-size: 20px;
   }
   .huge_price span {
      font-size: 16px;
   }
   .line-into-block-footer_img {
      display: none;
   }
   .home-collection {
      padding: 32px 15px 24px;
   }
   .catalog-header {
      padding: 30px 15px 24px;
   }
   .exclusive-point::after {
      display: none;
   }
   .hidden-nav-menu {
      margin-top: 80px;
   }
   .burger-nav-menu {
      padding: 32px 16px 0;
   }
   .basket,
   .basket-summ {
      padding: 20px 15px;
   }
   .add-adress-box {
      width: 100%;
      margin-top: 20px;
   }
   .bonus-card_value {
      font-size: 41px;
   }
   .bonus-card_name {
      font-size: 20px;
   }
   .you-owner-check {
      font-size: 14px;
   }
   .orders-period {
      flex-wrap: wrap;
      gap: 10px;
      margin: 20px 0 30px;
   }
   #order-period-start,
   #order-period-end {
      width: 100%;
      max-width: unset;
      border-radius: 10px;
   }

   .img-search-order_btn::after {
      content: "Искать";
      display: block;
      color: #fff;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.24;
      letter-spacing: 0.01em;
   }
   .img-search-order_btn {
      width: 100%;
      background: #ff5151;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
   }
   .product-card-image {
      width: 360px;
   }
   .product-card_name,
   .product-card_price {
      font-size: 20px;
   }
   .product-card_price p {
      font-size: 16px;
   }
   .product-card_subdiscr {
      font-size: 14px;
      margin-top: 8px;
   }
   .unactive,
   .mouse-swipe-img {
      display: none;
   }

   .control-panel_pag-btns {
      width: 100%;
      gap: 10px;
      position: relative;
   }
   .control-panel_pag-btns {
      display: flex;
      flex-direction: row;
      align-items: center;
   }
   .product-cards-container {
      padding-right: 15px;
   }
   .control-panel_prev-btn {
      margin: 0;
   }
}

@media (max-width: 400px) {
   .less-400 {
      display: none;
   }
   .basket-tabs {
      flex-wrap: wrap;
   }
}
