@media (min-width: 1600px) and (max-width: 1900px) {
   .basket_product .basket-product__mid {
      width: calc(((100% + 20px) * 0.56));
   }
   .basket_product:hover .basket-product__mid {
      width: calc(((100% + 20px) * 0.55));
   }
}

@media (max-width: 1700px) {
   .catalog-home-block-1 {
      width: 100%;
   }
   .catalog-home-block-2 {
      width: calc(50% - 12px);
   }
   .catalog-home-block-3 {
      width: calc(50% - 12px);
   }
   .catalog-home-block-4 {
      width: calc(50% - 12px);
   }
   .last-block-in-catalog-goods-home {
      width: calc(50% - 12px);
   }
   .footer_rignt-side {
      padding: 56px 32px;
   }
}
@media (max-width: 1600px) {
   .basket {
      width: 100%;
   }
   .basket-zone {
      margin-bottom: 48px;
   }
   .basket-summ {
      width: 100%;
   }
   .cabinet {
      width: 100%;
   }
   .cabinet-bonus-itog {
      max-width: 600px;
   }
   .footer_rignt__ul-box {
      width: 50%;
   }
}
@media (max-width: 1400px) {
   h1,
   .h2-section {
      font-size: 45px;
   }
   .reviews-and-leave-feedback-flex {
      flex-direction: column-reverse;
   }
   .reviews-overflow-container {
      width: 100%;
   }
   .right-zone-review {
      width: calc(100% / 3 - 12px);
   }
   .control-panel_pag-btns {
      display: none;
   }
   .pag-btn-s-view {
      display: flex;
   }
   /* .control-panel_pag-btns {
      margin-bottom: 20px;
   } */
   .reviews-overflow-container {
      overflow-x: scroll;
   }
   .review-card {
      width: 434px;
   }
   .right-zone-review {
      width: 100%;
      max-width: 434px;
   }
   .footer_left-side {
      width: 27%;
   }
   .footer_rignt-side {
      width: 77%;
   }
   .nav-list {
      width: unset;
   }
   .right-p-p_control__text {
      margin: 0;
   }
   .right-p-p_control__to-cart {
      font-size: 16px;
      background: #ff5151;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
   }
   .exclusive-point::after {
      width: 130px;
      height: 130px;
   }
   .basket_product .basket-product__mid {
      width: calc(((100% + 20px) * 0.56));
   }
   .basket_product:hover .basket-product__mid {
      width: calc(((100% + 20px) * 0.55));
   }
}

@media (max-width: 1300px) {
   .social-webs-flex_img {
      width: calc(100% / 3 - 20px);
   }
   .social-webs-flex_last {
      width: calc(100% / 3 * 2 - 20px);
   }
}
@media (max-width: 1200px) {
   .reviews-container {
      width: max-content;
   }
   .check-basket {
      position: absolute;
      top: 20px;
      right: 0px;
      left: unset;
      opacity: 1;
   }
   .base-style_block {
      height: 20%;
      margin: 0;
   }
   .base-style_block {
      width: calc(50% - 10px);
   }
   .h2-no-margin {
      order: 1;
   }
   .base-style_block-1 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;

      order: 2;
   }
   .base-style_block-2 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;

      order: 3;
   }
   .base-style_block-3 {
      height: calc(25% - 15px);
      order: 7;
   }
   .base-style_block-4 {
      width: calc(50% - 10px);
      margin: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 7;

      order: 4;
   }
   .base-style_block-5 {
      height: calc(25% - 15px);
      order: 8;
   }
   .base-style_block-6 {
      order: 5;
   }
   .base-style_block-7 {
      height: calc(25% - 15px);
      order: 9;
   }
   .base-style_block-8 {
      order: 6;
   }
   .base-style_block-9 {
      height: calc(25% - 15px);
      order: 10;
   }
   .huge-block {
      width: calc(67% - 10px);
   }
   .small-blocks-container {
      width: calc(33% - 10px);
   }
   .collection-things-box {
      flex-wrap: wrap;
      gap: 20px;
   }
   .hidden-nav-menu {
      flex-wrap: wrap;
   }
   .nav-list {
      width: 50%;
      margin-bottom: 50px;
   }
   .basket_product {
      flex-wrap: wrap;
   }
   .interior_product-box__img {
      max-width: 95px;
   }
   .basket-product__mid {
      width: 70%;
      gap: 15px;
   }
   .basket-product__mid.discont {
      width: calc(100% - 108px);
      flex-grow: 1;
      flex-wrap: wrap;
   }
   .interior_product-box__img {
      margin-right: 13px;
      border: 1px solid #bebebe;
   }
   .basket_product .basket-product__mid {
      width: calc(100% - 108px);
      flex-grow: 1;
      flex-wrap: wrap;
   }
   .basket_product__text {
      width: 100%;
   }
   .basket-product__end {
      flex-direction: row-reverse;
      justify-content: start;
      margin-top: 17px;
      width: 100%;
   }
   .basket_product__text {
      max-width: unset;
   }
   .basket-product-price-box {
      margin: 0;
   }
   .basket-checkbox {
      display: none;
   }
   .basket_product.in-cart {
      background: unset;
   }
   .basket-tabs_tab,
   .basket_product__text-subtitle,
   .product-box__price___price-old,
   .block_row__price span {
      font-size: 14px;
   }
   .basket_title {
      font-size: 22px;
   }
   .product-box__price___price {
      font-size: 20px;
   }
   .summ-title,
   .block_row__price,
   .summ-checkout-btn {
      font-size: 16px;
   }
   .summ-checkout-btn {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .basket_product__text-title {
      font-size: 16px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }
   .product_discont-value,
   .product_like-icon {
      width: 35px;
      height: 35px;
      font-size: 11px;
   }
   .basket-btn_plus,
   .basket-btn_minus {
      width: 40px;
      height: 40px;
      background: #f8f3ed;
   }
   .basket-btn_minus::after,
   .basket-btn_minus::before {
      width: 16px;
      background-color: #000;
   }
   .basket-btn_plus::after {
      width: 16px;
   }
   .basket-btn_minus:hover {
      background-color: #ff5151;
   }
   .basket-btn_minus:hover::before,
   .basket-btn_minus:hover::after {
      background: white;
   }
   .basket-btn_plus:hover {
      background-color: #ff5151;
   }
   .basket-btn_plus:hover::after {
      background: white;
   }
   .basket-product-box.hover .basket_product__text {
      width: 100%;
   }
   .last-price {
      font-size: 20px;
   }
   .summ-block {
      margin-top: 30px;
      gap: 15px;
   }
   .promo-imput {
      border-radius: 18px;
   }
   .buttons-block {
      display: flex;
   }
   .form-booking-title {
      font-size: 22px;
   }
   .booking-form {
      margin-top: 20px;
      gap: 10px;
   }
   .cabinet-form {
      gap: 10px;
   }
   .p-p-section {
      flex-direction: column;
   }
   .right-p-p,
   .dscription-p-p,
   .left-p-p,
   .left-p-p-overflow {
      width: 100%;
   }
   .product-box__text-box___title,
   .product-box__price___price {
      font-size: 16px;
   }
   .basket-box-price {
      font-size: 20px;
   }

   .product-box__text-box___subtitle,
   .product-box__price___price span {
      font-size: 14px;
   }
   .dscription-p-p_text__title {
      font-size: 25px;
   }
   .product-box__price___price {
      text-align: start;
   }
   .basket-box-price span {
      font-size: 16px;
   }
   .stat-value {
      font-size: 24px;
   }

   .basket_product:hover {
      background: #fff;
      margin-left: 0;
      width: 100%;
   }
   .basket_product:hover .check-basket {
      opacity: 1;
   }
   .basket_product:hover .basket-product__mid {
      /* width: calc(((100% + 20px) * 0.66)); */
   }
   .basket_product .basket-count-buttons {
      opacity: 1;
      z-index: 1;
      right: 0;
   }
   .basket_product:hover .basket-sale {
      opacity: 1;
   }
   .basket-sale {
      left: 10px;
      bottom: 0;
   }
}
@media (max-width: 1000px) {
   .footer_discription {
      order: 1;
   }
   .approve-text {
      font-size: 12px;
   }
   .video-preview {
      display: none;
   }
   .home-header {
      height: 844px;
      border-radius: 0;
   }
   .nav-buttons li:nth-child(n + 2) {
      display: none;
   }
   .nav-buttons {
      margin-left: auto;
      margin-right: 14px;
   }
   .burger-btn {
      order: 3;
      margin: 0;
   }

   .burger-btn-desctop {
      display: none;
   }
   .burger-btn-mob {
      display: flex;
   }
   .drop-btn {
      display: flex;
   }
   .catalog-home-block-1 {
      width: 100%;
   }
   .catalog-home-block-2 {
      width: 100%;
   }
   .catalog-home-block-3 {
      width: 100%;
   }
   .catalog-home-block-4 {
      width: 100%;
   }
   .catalog-home-block-5 {
      height: 504px;
   }
   .catalog-home-block-6 {
      height: 504px;
      width: 100%;
   }
   .red-circle {
      width: 100%;
      height: auto;
   }
   .last-block-in-catalog-goods-home {
      width: 100%;
   }

   .social-webs-flex_img {
      width: calc(100% / 2 - 12px);
   }
   .social-webs-flex_last {
      width: calc(100%);
      aspect-ratio: 2;
   }
   .footer_left-side {
      width: 0;
      display: none;
   }
   .footer_rignt-side {
      width: 100%;
   }
   footer {
      border-radius: 0;
   }
   .base-style-section {
      padding: 50px 15px 50px;
   }
   .collection-section {
      padding: 0px 15px 50px;
      margin: 0;
   }
   .accordeon-section {
      margin: 0px 15px 50px;
   }
   .base-style_block-10 {
      height: 710px;
      width: calc(100% + 30px);
      transform: translateX(-15px);
      border-radius: 0;
      margin-top: 20px;
   }
   .section-default {
      padding: 0 15px;
   }
   .catalog-header {
      padding: 30px 15px 48px;
   }
   .product-cards-overflow-container-catalog {
      width: calc(100% + 15px);
      overflow-x: auto;
   }
   .small-div {
      width: calc((100vw - 30px) / 3 - 16px);
   }
   .catalog-viewed {
      margin: 0 15px;
   }
   .viewed-products-container {
      margin: 0 15px;
   }
   .nav-list {
      width: 100%;
      margin: 0;
      height: 20px;
      overflow: hidden;
      transition: 0.6s ease;
   }
   .nav-list-title::after {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      background-image: url(../assets/icon/drop-arrow-brown.svg);
      background-position: bottom;
      background-size: cover;
      transition: 0.3s ease;
   }
   .nav-list.active > .nav-list-title::after {
      transform: rotate(180deg);
   }
   .nav-list.active {
      height: fit-content;
   }
   .hidden-nav-menu {
      flex-direction: column;
      padding-bottom: 120px;
   }
   .nav-list-title {
      font-size: 20px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
   }
   .hidden-nav-menu {
      gap: 24px;
   }
   .orders-tabs-overflow {
      overflow-x: scroll;
      width: 100%;
   }
   .orders-tabs-overflow::-webkit-scrollbar {
      display: none;
   }
   .orders-tabs {
      margin: 20px 0;
      border-radius: 10px;
      width: max-content;
   }
   .orders-tab {
      flex-shrink: 0;
      border-radius: 10px;
   }
   .section-default-home {
      margin-top: 50px;
   }
   .p-p-section-2 {
      flex-direction: column;
   }
   .more-products-interior,
   .product-interior-main-img {
      width: 100%;
   }
   .p-p-section-2 {
      margin-top: 50px;
   }
   .menu-text-black,
   .menu-text {
      display: none;
   }
   .stat {
      font-size: 18px;
   }
}
@media (max-width: 900px) {
   .order-list {
      display: none;
   }
   .order-item {
      flex-direction: column;
      align-items: start;
      position: relative;
      gap: 10px;
   }

   .order-item > li {
      width: 100%;
      max-width: unset;
      text-align: right;
      display: flex;
      font-size: 14px;
   }
   .order-item .order-list-item-3 {
      font-size: 14px;
   }

   .order-list-item-1::before {
      content: "Заказы";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-2::before {
      content: "Кол-во";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-3::before {
      content: "Стоимость";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-4::before {
      content: "Валюта";
      margin-right: auto;
      display: block;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-5::before {
      content: "Статус";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-6::before {
      content: "События";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .order-list-item-7::before {
      content: "Дата операции";
      margin-right: auto;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
   }
   .orders-data {
      gap: 40px;
   }
   .orders-data > ul:not(:last-child)::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #b1b1b1;
      left: 0;
      bottom: -20px;
   }
   .red-circle {
      font-size: 40px;
      font-weight: 400;
   }
   .h2-section {
      margin: 0 0 20px;
   }
   .exclusive-point::after {
      width: 100px;
      height: 100px;
   }
}
@media (max-width: 800px) {
   .subtitle-home {
      margin-bottom: 75px;
   }
   .subtitle-collection {
      font-size: 14px;
   }
   .right-p-p_subtitle {
      font-size: 15px;
   }
   .parent {
      display: flex;
      flex-direction: column;
   }
   .small-div {
      width: 100%;
   }
   .base-style_block-1,
   .base-style_block-4,
   .base-style_block-2 {
      font-size: 14px;
   }
   .filter-box {
      display: none;
   }
   .filter-buttons {
      display: flex;
   }
   .block_row__value {
      font-size: 14px;
   }
   .summ-block_discr {
      font-size: 12px;
   }
   .b-f-i-1,
   .b-f-i-2,
   .b-f-i-3,
   .b-f-i-4,
   .b-f-i-5,
   .b-f-i-6 {
      width: 100%;
   }
   .cabinet-btns-change {
      font-size: 16px;
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 10px;
   }
   .cabinet-btns-change > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 14px;
   }
   .cabinet-adress-box {
      flex-wrap: wrap;
      margin: 50px 0 20px;
   }
   .cabinet-bonus-itog {
      max-width: unset;
      width: 100%;
   }
   .accordion__header {
      font-size: 16px;
      padding: 12px 0;
   }
   .accordion__content {
      font-size: 14px;
      padding-top: 20px;
   }
   footer {
      margin-top: 50px;
   }
   .panel_style-icon {
      width: 36px;
      height: 36px;
   }
   .dot-pannel {
      width: 8px;
   }
   .footer-title,
   .basket-summ {
      font-size: 22px;
   }
   .footer-u-list > li > a {
      font-size: 14px;
   }
   .footer-u-list .footer-tel > a {
      font-size: 35px;
   }
   .panel-container {
      height: 575px;
      width: max-content;
   }
   .panel.active .panel_magic__title {
      font-size: 22px;
   }
   .panel.active .panel_magic__disc {
      font-size: 14px;
   }
   .panel .panel_magic__disc,
   .panel_magic__show-collection {
      height: auto;
      opacity: 1;
      font-size: 18px;
   }
   .panel .panel_magic__disc {
      font-size: 14px;
   }
   .panel {
      width: 350px;
      padding: 30px;
      flex: 1;
   }
   .panel-container-overflow {
      overflow-x: scroll;
      margin-bottom: 20px;
   }
   .panel-container-overflow::-webkit-scrollbar {
      display: none;
   }
   .panel .panel_magic__img {
      height: auto;
      transition: 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
   }
   .panel .panel_magic__disc {
      margin: 24px 0 40px;
   }
   .panel .panel_magic__show-collection {
      display: flex;
      align-items: center;
      gap: 10px;
   }
   .right-p-p_price-title,
   .right-p-p_in-stock,
   .dscription-p-p_tabs,
   .dscription-p-p_text__info-block {
      font-size: 16px;
   }
   .right-p-p_price-value {
      font-size: 25px;
   }
   .right-p-p_price-discription,
   .right-p-p_show-more-btn {
      font-size: 14px;
   }
   .dscription-p-p_text__info-block {
      gap: 10px;
   }
   .gray-line {
      margin: 20px 0;
   }
   .dscription-p-p_text__title {
      font-size: 24px;
      margin-bottom: 20px;
   }
   .dscription-p-p_text__info-block {
      margin: 20px 0 3px;
   }
   .feedback-middle-score {
      font-size: 30px;
   }
   .basket-sale {
   }
}

@media (max-width: 600px) {
   h1 {
      font-size: 30px;
   }
   .home-header,
   .product-header {
      padding: 32px 15px;
   }
   .subtitle-home,
   .cabinet-tabs {
      font-size: 16px;
   }
   .subtitle-collection {
      font-size: 14px;
   }
   .h2-section {
      font-size: 30px;
   }
   .footer_rignt-side > div,
   .footer_rignt-side > ul {
      width: 100%;
   }
   .footer-title {
      margin-bottom: 25px;
   }
   footer {
      height: 1274px;
   }
   .footer_rignt-side {
      padding: 30px 15px;
   }
   .footer_rignt-side .line-into-block {
      height: 16px;
   }
   .footer_rignt-side .footer_discription {
      margin-top: 50px;
   }

   .footer-less-600 {
      display: block;
   }
   .name-of-thing-home {
      font-size: 24px;
   }
   .name-of-thing-home {
      display: flex;
      align-items: center;
   }
   .section-default-home {
      padding: 0 15px;
   }
   .catalog-home-block-1 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-2 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-3 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-4 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-5 {
      aspect-ratio: 1;
      height: auto;
   }
   .catalog-home-block-6 {
      aspect-ratio: 1;
      height: auto;
   }

   .base-style_block {
      width: 100%;
      height: 335px;
   }

   .base-style_block-1 {
      width: 100%;
   }
   .base-style_block-2 {
      width: 100%;
   }

   .base-style_block-4 {
      width: 100%;
   }

   .base-style_block-10 {
      height: 710px;
      width: calc(100% + 30px);
      transform: translateX(-15px);
      border-radius: 0;
      margin-top: 20px;
   }
   .base-style-section_left {
      height: auto;
   }
   .huge-block {
      width: 100%;
   }
   .small-blocks-container {
      width: 100%;
      flex-direction: row;
   }
   .small-blocks-container_small-block {
      width: calc(50% - 10px);
      height: auto;
   }

   .review_stars {
      gap: 5px;
   }
   .review_stars img {
      width: 15px;
   }
   .huge_title {
      font-size: 20px;
   }
   .huge_discription {
      font-size: 14px;
   }
   .huge_price {
      font-size: 20px;
   }
   .huge_price span,
   .leave-feedback-btn,
   .leave-feedback-text {
      font-size: 16px;
   }
   .line-into-block-footer_img {
      display: none;
   }
   .home-collection {
      padding: 32px 15px 24px;
   }
   .catalog-header {
      padding: 30px 15px 24px;
   }
   .exclusive-point::after {
      display: none;
   }
   .hidden-nav-menu {
      margin-top: 80px;
   }
   .burger-nav-menu {
      padding: 32px 16px 0;
   }
   .basket,
   .basket-summ {
      padding: 20px 15px;
   }
   .add-adress-box {
      width: 100%;
      margin-top: 20px;
   }
   .bonus-card_value {
      font-size: 41px;
   }
   .bonus-card_name {
      font-size: 20px;
   }
   .you-owner-check {
      font-size: 14px;
   }
   .orders-period {
      flex-wrap: wrap;
      gap: 10px;
      margin: 20px 0 30px;
   }
   #order-period-start,
   #order-period-end {
      width: 100%;
      max-width: unset;
      border-radius: 10px;
   }
   .nav-absolut {
      width: calc(100% - 30px);
   }
   .img-search-order_btn::after {
      content: "Искать";
      display: block;
      color: #fff;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.24;
      letter-spacing: 0.01em;
   }
   .img-search-order_btn {
      width: 100%;
      background: #ff5151;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
   }
   .product-card-image {
      width: 360px;
   }
   .product-card_name,
   .product-card_price,
   .review_name {
      font-size: 20px;
   }
   .product-card_price p {
      font-size: 16px;
   }
   .product-card_subdiscr {
      font-size: 14px;
      margin-top: 8px;
   }
   .review_content {
      font-size: 14px;
   }
   .review_date {
      margin: 10px 0 24px;
      font-size: 14px;
   }
   .link-to-full-review {
      margin-top: 24px;
      font-size: 14px;
   }
   .review-card {
      width: calc(100vw - 30px);
   }
   .unactive,
   .mouse-swipe-img {
      display: none;
   }

   .control-panel_pag-btns {
      width: 100%;
      gap: 10px;
      position: relative;
   }
   .control-panel_pag-btns {
      display: flex;
      flex-direction: row;
      align-items: center;
   }
   .product-cards-container {
      padding-right: 15px;
   }
   .control-panel_prev-btn,
   .control-panel_prev-btn-main {
      margin: 0;
   }
   .slider-switcher-hide {
      display: flex;
   }
   .control-panel-reviews {
      /* display: none; */
      position: absolute;
      bottom: -20px;
      right: 0;
      justify-content: end;
   }
   .reviews-and-leave-feedback-flex {
      padding-bottom: 50px;
   }
   .left-p-p {
      flex-wrap: nowrap;
      width: max-content;
      gap: 5px;
   }
   .left-p-p-overflow::-webkit-scrollbar {
      display: none;
   }
   .left-p-p-overflow {
      overflow-x: scroll;
      width: calc(100% + 15px);
   }
   .product-page-photo,
   .product-page-main-photo {
      width: 360px;
   }
   .footer_rignt-side .footer_discription {
      margin-top: 30px;
   }
   .social-webs-flex_img {
      width: calc(100% / 2 - 6px);
   }
   .social-webs-flex {
      gap: 12px;
   }
   .type-of-thing-home {
      font-size: 14px;
   }
   .line-between-arrows {
      display: block;
   }
   .logo-icon img {
      width: 170px;
   }
}

@media (max-width: 400px) {
   .less-400 {
      display: none;
   }
   .basket-tabs {
      flex-wrap: wrap;
   }
   .logo-icon img {
      width: 170px;
   }
   .social-webs-flex_content {
      scale: 0.8;
   }
   .content_sub-text,
   .social-webs-flex_content {
      margin-top: 5px;
   }
}
